<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LotteryWeb</display-name>
  <welcome-file-list>
    <welcome-file>homeController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUpdateController</display-name>
    <servlet-name>AddUpdateController</servlet-name>
    <servlet-class>controller.AddUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUpdateController</servlet-name>
    <url-pattern>/AddUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerSign</display-name>
    <servlet-name>controllerSign</servlet-name>
    <servlet-class>controller.controllerSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerSign</servlet-name>
    <url-pattern>/controllerSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerSignF</display-name>
    <servlet-name>controllerSignF</servlet-name>
    <servlet-class>controller.controllerSignF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerSignF</servlet-name>
    <url-pattern>/controllerSignF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSignF</display-name>
    <servlet-name>ControllerSignF</servlet-name>
    <servlet-class>controller.ControllerSignF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSignF</servlet-name>
    <url-pattern>/ControllerSignF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSignG</display-name>
    <servlet-name>ControllerSignG</servlet-name>
    <servlet-class>controller.ControllerSignG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSignG</servlet-name>
    <url-pattern>/ControllerSignG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerSignG</display-name>
    <servlet-name>controllerSignG</servlet-name>
    <servlet-class>controller.controllerSignG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerSignG</servlet-name>
    <url-pattern>/controllerSignG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerUserManage</display-name>
    <servlet-name>controllerUserManage</servlet-name>
    <servlet-class>controller.controllerUserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerUserManage</servlet-name>
    <url-pattern>/controllerUserManage</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>tant91297@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>wmcnsgsudskcacnt</param-value>
  </context-param>
  <filter>
    <display-name>RouterFilter</display-name>
    <filter-name>RouterFilter</filter-name>
    <filter-class>Filter.RouterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RouterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>homeController</display-name>
    <servlet-name>homeController</servlet-name>
    <servlet-class>controller.homeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeController</servlet-name>
    <url-pattern>/homeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controllerHistory</display-name>
    <servlet-name>controllerHistory</servlet-name>
    <servlet-class>controller.controllerHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controllerHistory</servlet-name>
    <url-pattern>/controllerHistory</url-pattern>
  </servlet-mapping>
</web-app>